.card {
  position: relative;

  &__link {
    display: block;

    &_img {      
      margin-bottom: 12px;


      @media (min-width: 580px) {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  &__info {
    @media (min-width: 580px) {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;

    @media (min-width: 580px) {
      font-size: 16px;
      margin-bottom: 0;
      padding-top: 3px;
    }
  }

  &__price {
    margin-bottom: 12px;
    font-size: 16px;

    @media (min-width: 580px) {
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  &__btn {
    width: 100%;
    border-radius: 32px;
    border: 1px solid #780096; 
    color: #780096;
    padding: 12px 24px;
    transition: all 0.5s;

    &:hover {
      background-color: #780096;
      color: #fff;
      &:focus-visible {
        color: #fff;
      }
    }
  
    &:focus-visible {
      color: #780096;
      outline-color: #780096;
    }

    &:active,
    &_active {
      color: #fff;
      background-color: #780096;

      &:hover,
      &:focus-visible {
        color: #fff;
      }
    }

    @media (min-width: 580px) {
      font-size: 20px;
    }
  }

  &__favourite {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}